name: SPPU Fetch Results

on:
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run fetch & actions
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          python src/actions.py
